{include file='public/_head'/}
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <!-- Page Sidebar -->
        {include file='public/_left'/}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-home"></i>&nbsp;网站管理
                    </li>
                    <li>网站添加</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header bordered-bottom bordered-themeprimary">
                                <span class="widget-caption">网站添加</span>
                            </div>
                            <div class="widget-body">

                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="catename"
                                            class="col-sm-2 control-label no-padding-right">网站名称</label>
                                        <div class="col-sm-6">
                                            <input name="webname" type="text" class="form-control" id="catename"
                                                placeholder="网站名称" />
                                            <p class="help-block">请输入网站名称</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="sort" class="col-sm-2 control-label no-padding-right">版权信息</label>
                                        <div class="col-sm-6">
                                            <input name="copyright" type="text" class="form-control" id="sort"
                                                placeholder="版权信息" />
                                            <p class="help-block">请输入版权信息</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button id="systemAdd" type="submit" class="btn btn-primary">添加</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>
{include file='public/_js'/}
</body>
<!--  /Body -->

</html>

<script>
    $(function () {
        $('#systemAdd').click(function () {
            $.ajax({
                url: "{:url('admin/system/set')}",
                type: 'post',
                data: $('form').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000
                        }, function () {
                            location.href = data.url;
                        })
                    } else {
                        layer.open({
                            icon: 5,
                            title: '添加失败',
                            content: data.msg,
                            anim: 6
                        })
                    }
                }

            });
            return false;
        });
    });
</script>