{extend name="public/base" /}


{block name="content"}
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget radius-bordered">
                            <div class="widget-body">
                                <form action="" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="title" class="control-label col-sm-2 no-padding-right">文章标题</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="title" name="title"
                                                   placeholder="文章标题"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="desc" class="col-sm-2 control-label no-padding-right">文章标签</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="tags" id="input" class="form-control" value=""
                                                   placeholder="标签" title="">
                                            <span class="help-block">标签以|来分割</span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="" class="control-label col-sm-2">所属导航</label>
                                        <div class="col-sm-6">
                                            <select id="cateid" name="cate_id" class="form-control">
                                                <option value="">请选择</option>
                                                {volist name='cates' id='vo'}
                                                <option value="{$vo.id}">{$vo.catename}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="desc" class="col-sm-2 control-label no-padding-right">文章概要</label>
                                        <div class="col-sm-6">
                                            <textarea name="desc" id="desc" cols="30" rows="5"
                                                      class="form-control"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="content" class="control-label col-sm-2">文章内容</label>
                                        <div class="col-sm-6">
                                            <textarea name="content" id="content" cols="30" rows="10"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-6">
                                            <button id="articleAdd" class="btn btn-primary">添加</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>
<script src="/static/index/js/jquery-3.3.1.min.js"></script>
<!--<script src="/static/lib/layer/layer.js"></script>-->
<script src="/static/lib/ueditor/ueditor.config.js"></script>
<script src="/static/lib/ueditor/ueditor.all.js"></script>

</body>
<!--  /Body -->

</html>

<script>
    $(function () {
        UE.getEditor('content');
        $('#articleAdd').click(function () {
            $.ajax({
                url: "{:url('index/article/add')}",
                type: 'post',
                data: $('form').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {icon: 6, time: 2000}, function () {
                            location.href = data.url;
                        })
                    } else {
                        layer.open({
                            icon: 5,
                            title: '添加失败',
                            content: data.msg,
                            anim: 6
                        });
                    }
                }
            });
            return false;
        });
    });
</script>

{/block}